<div class="row">
  <div class="col-md-12">
    <ngx-monitor-main></ngx-monitor-main>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <nb-card size="medium">
      <nb-card-header>中路数据情况对比</nb-card-header>
      <nb-card-body>
        <ngx-monitor-catetory-pie></ngx-monitor-catetory-pie>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card size="medium">
      <nb-card-header>各业务模块数据对比</nb-card-header>
      <nb-card-body>
        <ngx-monitor-cmp-radar></ngx-monitor-cmp-radar>
      </nb-card-body>
    </nb-card>
  </div>

</div>

<div class="row">
  <div class="col-lg-4">
    <nb-card size="medium">
      <nb-card-header>数据量统计</nb-card-header>
      <nb-card-body>
        <ngx-monitor-volume-bar></ngx-monitor-volume-bar>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-4">
    <nb-card size="medium">
      <nb-card-header>数据操作类型</nb-card-header>
      <nb-card-body>
        <ngx-monitor-operation-pie></ngx-monitor-operation-pie>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-4">
    <nb-card size="medium">
      <nb-card-header>各业务模块数据容量</nb-card-header>
      <nb-card-body>
        <ngx-monitor-datasize-bar></ngx-monitor-datasize-bar>
      </nb-card-body>
    </nb-card>
  </div>

</div>

<div class="row">
  <div class="col-lg-6">
    <nb-card size="medium">
      <nb-card-header>数据库DML操作统计</nb-card-header>
      <nb-card-body>
        <ngx-monitor-crud-multiple-xaxis></ngx-monitor-crud-multiple-xaxis>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card size="medium">
      <nb-card-header>业务关键词</nb-card-header>
      <nb-card-body>
        <ngx-monitor-word-wordcloud></ngx-monitor-word-wordcloud>
      </nb-card-body>
    </nb-card>
  </div>

</div>
