<!-- <div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h1 class="display-4">Hello, world!</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
        featured content or information.</p>
      <hr class="my-4">
    </div>
  </div>
</div> -->

<div class="row">
  <div class="col-md-3">
    <nb-card disabled="true">
      <nb-card-body>
        <!-- <img mat-card-image src="assets/images/erp.png" style="height: 120px" alt="ERP">
        <p class="lead">数据总量: 50GB</p>
        <p class="lead">总记录数: 50W</p> -->
        <div class="row show-grid">
          <div class="col-md-push-6">
            <div><img mat-card-image src="assets/images/erp.png" style="height: 120px" alt="ERP"></div>
          </div>
          <div class="col-md-6">
            <div>
              <p class="lead">系统名称: ERP</p>
              <p class="lead">数据总量: 50GB</p>
              <p class="lead">总记录数: 50W</p>
            </div>
          </div>
        </div>

      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-3">
    <nb-card>
      <nb-card-body>
        <!-- <img mat-card-image src="assets/images/pms.png" style="height: 120px" alt="ERP">
        <p class="lead">数据总量: 120GB</p>
        <p class="lead">总记录数: 1.2KW</p> -->

        <div class="row show-grid">
          <div class="col-md-push-6">
            <div><img mat-card-image src="assets/images/pms.png" style="height: 120px" alt="ERP"></div>
          </div>
          <div class="col-md-6">
            <div>
              <p class="lead">系统名称: PMS</p>
              <p class="lead">数据总量: 120GB</p>
              <p class="lead">总记录数: 1.2KW</p>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-3">
    <nb-card>
      <nb-card-body>
        <!-- <img mat-card-image src="assets/images/yx.png" style="height: 120px" alt="ERP">
        <p class="lead">数据总量: 800GB</p>
        <p class="lead">总记录数: 180KW</p> -->

        <div class="row show-grid">
          <div class="col-md-push-6">
            <div><img mat-card-image src="assets/images/yx.png" style="height: 120px" alt="ERP"></div>
          </div>
          <div class="col-md-6">
            <div>
              <p class="lead">系统名称: 营销系统</p>
              <p class="lead">数据总量: 800GB</p>
              <p class="lead">总记录数: 12KW</p>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-3">
    <nb-card>
      <nb-card-body>
        <!-- <img mat-card-image src="assets/images/iot.png" style="height: 120px" alt="ERP">
        <p class="lead">数据总量: 120GB</p>
        <p class="lead">总记录数: 1.2KW</p> -->

        <div class="row show-grid">
          <div class="col-md-push-6">
            <div><img mat-card-image src="assets/images/iot.png" style="height: 120px" alt="ERP"></div>
          </div>
          <div class="col-md-6">
            <div>
              <p class="lead">系统名称: xx系统</p>
              <p class="lead">数据总量: 120GB</p>
              <p class="lead">总记录数: 1.2KW</p>
            </div>
          </div>
        </div>

      </nb-card-body>
    </nb-card>
  </div>
</div>
