@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .menu-sidebar ::ng-deep .scrollable {
    padding-top: nb-theme(layout-padding-top);
  }

  nb-layout-column {
    background-image: url(assets/images/bg01.png);
  }

  nb-layout-header /deep/ {
    background-image: url(assets/images/bg01.png);

    nav {
      background: transparent;
    }
  }
}
