<body class="bg01">
  <div class="wrapper">
    <div class="container-fluid">
      <div class="row fill-h">
        <div class="col-lg-4 fill-h">
          <div class="xpanel-wrapper xpanel-wrapper-3">
            <div class="xpanel" id="categoryPieChartView">
              <ngx-dashboard-catetory-pie></ngx-dashboard-catetory-pie>
            </div>
          </div>
          <div class="xpanel-wrapper xpanel-wrapper-3">
            <div class="xpanel" id="cmpRadarChartView">
              <ngx-dashboard-cmp-radar></ngx-dashboard-cmp-radar>
            </div>
          </div>

          <div class="xpanel-wrapper xpanel-wrapper-3">
            <div class="xpanel" id="operationPieChartView">
              <ngx-dashboard-operation-pie></ngx-dashboard-operation-pie>
            </div>
          </div>
        </div><!-- Left End -->

        <div class="col-lg-4 fill-h">
          <div class="xpanel-wrapper" style="height: 67%;">
            <div class="xpanel" id="mainGraphChartView">
              <ngx-dashboard-main-graph [valumeCmp]="valumeCmp" [datasizeCmp]="datasizeCmp"
                [wordCloudCmp]="wordCloudCmp"></ngx-dashboard-main-graph>
            </div>
          </div>

          <div class="xpanel-wrapper xpanel-wrapper-3">
            <div class="xpanel" id="volumeBarChartView">
              <ngx-dashboard-volume-bar #valumeCmp></ngx-dashboard-volume-bar>
            </div>
          </div>

        </div><!-- Center End -->

        <div class="col-lg-4 fill-h">
          <div class="xpanel-wrapper xpanel-wrapper-3">
            <div class="xpanel" id="datasizeBarChartView">
              <!-- 各模块数据大小 -->
              <ngx-dashboard-datasize-bar #datasizeCmp></ngx-dashboard-datasize-bar>
            </div>
          </div>
          <div class="xpanel-wrapper xpanel-wrapper-3">
            <div class="xpanel" id="crudMultipleLineChartLine">
              <!-- DML 数据变化统计 -->
              <ngx-dashboard-crud-line></ngx-dashboard-crud-line>
            </div>
          </div>
          <div class="xpanel-wrapper xpanel-wrapper-3">
            <div class="xpanel" id="wordCloudChartView">
              <!-- 区县地图 -->
              <ngx-dashboard-word-cloud #wordCloudCmp></ngx-dashboard-word-cloud>
            </div>
          </div>
        </div><!-- Right End -->
      </div>
    </div>
  </div>
</body>
